html{height: 100%;font-size: 13.8888888888889vw;}
body{height: 100%;display: flex;flex-direction: column;}


header{height:3.86rem;background: skyblue;}
header div a{display: flex;justify-content: space-around;line-height: .96rem;}
header div a img{height: .44rem;width: .44rem;}
header div a p{font-size: .28rem;color: #4f4f4f;font-weight: 900;}
header div a i{font-size: .46rem;color: #989898;}













nav{height: 2.1rem;background: green;}
section{flex: 1;}
footer{height: 1rem;background:grey;}





























