html{height: 100%;font-size:13.8888888888889vw;}
body{height: 100%;display: flex;flex-direction: column;}

header{height:.94rem;}
header .header{display: flex;justify-content: space-around;line-height:.84rem}
header .header i{font-size: .44rem;color: #CCCCCC;}
header .header i a{font-size: .28rem;color: #505050;}
header .header ul {width: 2.14rem;height: .3rem;}
header .header ul li{display: flex;align-items: center;}
header .header ul li a{font-size: .28rem;color: #4f4f4f;}
header .header ul li img{height: .14rem;width: .19rem;}

img{width: 7.2rem;height: 2.94rem;display: block;}
img{height: 2.94rem;}


nav{height: 3.40rem;overflow: auto;display: flex;/* justify-content: space-around; */flex-wrap: wrap;
overflow: hidden;align-items: center;justify-content: center;border-bottom: .2rem solid #eeeeee;}
nav a{padding: 0 .5rem;margin-top: .3rem;}
nav a img{width: .78rem;height: .78rem;}
nav a span{font-size: .26rem;color: #9a9a9a;}




section{flex: 1;}
section h2{color: #f09949;}
section img{width: 7.15rem;height: 2.83rem;}
















footer{height: 1rem;display:flex;justify-content: space-between;}
footer a{margin-left: .5rem;}
footer .a2 span{color: #feab5f;}
footer .a3{display: block;width: .9rem;height: .9rem;border-radius: 50%;background:#feab5f ;color: white;display: flex;
justify-content: center;align-items: center;/* position: absolute; */}
footer .a3 span{color: white;font-size: .44rem;}
footer a img{width: .45rem;height: .47rem;}
footer a span{font-size:.18rem;color: #b0b0b0;}
































