<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is index page</title>
    <style type="text/css">
        .header{
            width:100%;
            height: 40px;
            margin: 20px 20px;
        }
        .footer{
            width: 100%;
            height: 40px;
            margin: 20px 20px;
        }
        .content{
            width: 100px;
            height: 40px;
            margin: 20px 20px;
        }
    </style>
</head>
<body>
{% include "header.html" %}
<div class="content"></div>
{% include "footer.html" %}
</body>
</html>